
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>第17届中国金湖荷花节</title>
    <meta name="keywords" content="金湖,荷花节" />
    <meta name="description" content="水乡金湖为苏北的水上明珠，有着“江湖要塞苏北小江南”之称。金湖有15万亩荷花，自2001年起，每年举办的荷花节名闻遐迩。本届金湖荷花节以“为荷而来，畅游金湖”为主题，从2017年7月8日至8月18日，历时40天，将举办含宣传、文化、体育、旅游、经贸五大主题20项精彩活动，为游客、嘉宾奉献上一道精彩纷呈的文化旅游大餐。" />
    <link href="/statics/images/special/jinhu/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://jiangsu.china.com.cn/statics/images/special/jinhu/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://jiangsu.china.com.cn/statics/js/jquery.soChange-min.js"></script>
    <script type="text/javascript" src="http://jiangsu.china.com.cn/statics/js/jquery.cxscroll.min.js"></script>
    <script type="text/javascript" src="http://jiangsu.china.com.cn/statics/images/special/jinhu/jquery.PicCarousel.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('#slide .a_bigImg').soChange({
                thumbObj:'#slide .ul_change_a1 a'
            });

            $("#img-list").cxScroll();

            $("#jhsy-scoll").cxScroll({
                direction:"bottom"
            });
        });
    </script>
</head>
<body>
<div class="top"><div class="box"></div></div>
<div class="box1"><div class="box">
    <div class="catname1"></div>
    <div class="slide" id="slide">
        <div class="a_bigImg">
            <a href="http://jiangsu.china.com.cn/html/jsnews/bwzg/10483349_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0719/1500429029005851.jpg" alt="“莲心湖韵”全国荷文化书画展金湖开展" width="534" height="335"><span class="of">“莲心湖韵”全国荷文化书画展金湖开展</span></a>
        </div>
        <div class="a_bigImg">
            <a href="http://jiangsu.china.com.cn/html/jsnews/bwzg/10492677_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0801/1501573747007190.jpg" alt="直径1.3米超大夜明珠惊现金湖" width="534" height="335"><span class="of">直径1.3米超大夜明珠惊现金湖</span></a>
        </div>
        <div class="a_bigImg">
            <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466401_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199790865297.jpg" alt="金马，尽显“体育+”溢出效应" width="534" height="335"><span class="of">金马，尽显“体育+”溢出效应</span></a>
        </div>
        <div class="a_bigImg">
            <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466357_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199281137462.jpg" alt="风景这边独好！金湖荷花节新闻发布会在苏州耦园举行" width="534" height="335"><span class="of">风景这边独好！金湖荷花节新闻发布会在苏州耦园举行</span></a>
        </div>

        <ul class="ul_change_a1">
            <li><a href="javascript:;"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0719/1500429029005851.jpg" alt="“莲心湖韵”全国荷文化书画展金湖开展"><i></i></a></li>
            <li><a href="javascript:;"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0801/1501573747007190.jpg" alt="直径1.3米超大夜明珠惊现金湖"><i></i></a></li>
            <li><a href="javascript:;"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199790865297.jpg" alt="金马，尽显“体育+”溢出效应"><i></i></a></li>
            <li><a href="javascript:;"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199281137462.jpg" alt="风景这边独好！金湖荷花节新闻发布会在苏州耦园举行"><i></i></a></li>
        </ul>
    </div>
    <div class="news">
        <div class="news-tj">
            <a href="http://jiangsu.china.com.cn/html/jsnews/around/10476151_1.html" target="_blank">第17届中国·金湖荷花节开幕</a>
            <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10476151_1.html" target="_blank">7月8日，备受关注的第17届中国&middot;金湖荷花节拉开大幕。金湖因&ldquo;荷&rdquo;办节，又因&ldquo;荷&rdquo;而扬名，进而独享&ldquo;荷花之都&rdquo;美誉，首开全国范例，让...</a><a href="http://jiangsu.china.com.cn/html/jsnews/around/10476151_1.html" target="_blank" class="read">[详情]</a></p>
        </div>
        <div class="news-list">
            <ul>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10476335_1.html" target="_blank">首届金湖在外人士恳谈会召开：聚心、聚力、聚智</a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10476343_1.html" target="_blank">第17届中国·金湖荷花节：“莲”情“荷”意</a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466409_1.html" target="_blank">淮安金湖名特优农副产品（淮安）展示展销会开幕</a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10474867_1.html" target="_blank">金湖荷花节：到金湖吃什么？当然是湖鲜！</a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/bwzg/10476141_1.html" target="_blank">一次特别恳谈会：100多条“金点子”尽收其中</a></li>
            </ul>
        </div>
    </div>
    <div class="clr"></div>
</div></div>

<div class="box2"><div class="box">
    <div class="img-list" id="img-list">
        <div class="box">
            <ul class="list">
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466431_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498200239984634.jpg" alt="柳树湾湿地公园" /><span>柳树湾湿地公园</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466415_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498200026110217.jpg" alt="金湖荷花荡" /><span>金湖荷花荡</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466413_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498201159340436.jpg" alt="千艺莲" /><span>千艺莲</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466397_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199637932633.jpg" alt="金湖水上森林公园" /><span>金湖水上森林公园</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466383_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199565135164.jpg" alt="戴楼荷圣园" /><span>戴楼荷圣园</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466403_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199886023168.jpg" alt="荷花广场" /><span>荷花广场</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466379_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498201380344573.jpg" alt="尧帝公园" /><span>尧帝公园</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466365_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199427908969.jpg" alt="尧帝古城" /><span>尧帝古城</span></a></li>
                <li><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466425_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498200158056185.jpg" alt="金湖大佛寺" /><span>金湖大佛寺</span></a></li>
            </ul>
            <br class="clr" />
        </div>
    </div>
    <div class="cyjh">
        <img src="http://jiangsu.china.com.cn/statics/images/special/jinhu/text.gif" alt="" />
    </div>
</div></div>

<div class="box3"><div class="box">
    <div class="catname3"></div>
    <div class="img-list">
        <ul>
            <li class="first"><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466391_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498198968848737.jpg" alt="金湖湖鲜美食的历史与传承" /><span>金湖湖鲜美食的历史与传承</span></a></li>
            <li ><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466367_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498197960392969.jpg" alt="游人放不下的味道：金湖荷藕" /><span>游人放不下的味道：金湖荷藕</span></a></li>
            <li ><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466371_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498198034320874.jpg" alt="蒜泥龙虾，成金湖全域旅游新名片" /><span>蒜泥龙虾，成金湖全域旅游新名片</span></a></li>
            <li ><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466407_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498198147346149.jpg" alt="招待客人的最高礼节：金湖八大碗" /><span>招待客人的最高礼节：金湖八大碗</span></a></li>
            <li ><a href="http://jiangsu.china.com.cn/html/jsnews/around/10468547_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0930/1506733933119996.jpg" alt="金湖特色名菜 湖鲜真味" /><span>金湖特色名菜 湖鲜真味</span></a></li>
        </ul>
        <br class="clr" />
    </div>
</div></div>

<div class="box4"><div class="box">
    <div class="jhsy">
        <img src="http://jiangsu.china.com.cn/statics/images/special/jinhu/catname4.png" alt="" />
        <div class="jhsy-scoll" id="jhsy-scoll">
            <div class="box">
                <ul class="list">
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466385_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498196770976859.jpg" alt="金湖政策性农业保险护驾“三农”" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466385_1.html" target="_blank" class="title">金湖政策性农业保险护驾“三农”</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466385_1.html" target="_blank">政策性农业保险是一项政府支持、农民受益的保险制度。近年来，金湖县委、县政府把发展政策...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466543_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498200446887214.jpg" alt="荷花之都处处景 半城绿色半城水" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466543_1.html" target="_blank" class="title">荷花之都处处景 半城绿色半城水</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466543_1.html" target="_blank">近年来，金湖县一直致力于城乡建设与全域旅游融合发展的创新路子。依托金湖得天独厚的生态...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10473771_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0704/1499157066336188.jpg" alt="这个周末，去荷乡赴约吧" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10473771_1.html" target="_blank" class="title">这个周末，去荷乡赴约吧</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10473771_1.html" target="_blank">又是一年盛夏，金湖再飘荷香。7月8日，第17届金湖荷花节将盛大开幕。走，一起去金湖，为观...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466513_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498200591453643.jpg" alt="金湖“品牌兴农”实现农业快速转型" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466513_1.html" target="_blank" class="title">金湖“品牌兴农”实现农业快速转型</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466513_1.html" target="_blank">金湖三面环湖，水面占全县国土面积的三分之一，水域宽广、水质优良、水草丰茂，是水产养殖...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10473773_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0709/1499562743966136.jpg" alt="今年的荷花荡，有点不一样" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10473773_1.html" target="_blank" class="title">今年的荷花荡，有点不一样</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10473773_1.html" target="_blank">去年金湖被列为首批&ldquo;国家全域旅游示范区&rdquo;创建单位，位于闵桥镇的荷花荡景区更成为了荷花...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466515_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0622/1498113940706882.jpg" alt="金湖23项“创业套餐”惠及全民创业" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466515_1.html" target="_blank" class="title">金湖23项“创业套餐”惠及全民创业</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466515_1.html" target="_blank">近日，金湖县政务办推出23项创业扶持套餐，主要涉及药品经营、食品生产、餐饮企业、医疗器...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466507_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0622/1498113964392105.jpg" alt="江苏金湖县委书记张志勇带头开展“河长”巡查工作" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466507_1.html" target="_blank" class="title">江苏金湖县委书记张志勇带头开展&ldquo;</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466507_1.html" target="_blank">为进一步落实河长制，认真履行河长职责，近日，江苏省淮安市金湖县委书记、高邮湖金湖县境...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466419_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498201753351398.jpg" alt="舌尖上的“金湖”：2017金湖县十大畅销农副产品风采" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466419_1.html" target="_blank" class="title">舌尖上的&ldquo;金湖&rdquo;：2017金湖县十大</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466419_1.html" target="_blank">在4月7日&mdash;9日的金湖名特优农副产品展销会上，一批具有浓郁金湖地方特色的农副产品脱颖而出...</a></p>
                    </div></li>
                    <li><div>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466353_1.html" target="_blank" class="img"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498199217366354.jpg" alt="生态美丽荷都 宜居水乡金湖" /></a>
                        <a href="http://jiangsu.china.com.cn/html/jsnews/around/10466353_1.html" target="_blank" class="title">生态美丽荷都 宜居水乡金湖</a>
                        <p><a href="http://jiangsu.china.com.cn/html/jsnews/around/10466353_1.html" target="_blank">&ldquo;淮上明珠&rdquo;&ldquo;苏中小江南&rdquo;&ldquo;荷花之都&rdquo;&hellip;&hellip;听着这些带有江南氤氲之气的词汇，联想到的便...</a></p>
                    </div></li>
                </ul>
            </div>
        </div>
    </div>
</div></div>

<div class="box5"><div class="box">
    <div class="catname5"></div>
    <div class="poster-main hfly">
        <div class="poster-btn poster-prev-btn"></div>
        <ul class="poster-list">
            <li class="poster-item"><a href="http://jiangsu.china.com.cn/html/jsnews/around/10467199_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498203570151698.jpg" alt="千娇百媚" /><span>千娇百媚</span></a></li>
            <li class="poster-item"><a href="http://jiangsu.china.com.cn/html/jsnews/around/10467187_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498203113642772.jpg" alt="翡翠玉盘托青莲" /><span>翡翠玉盘托青莲</span></a></li>
            <li class="poster-item"><a href="http://jiangsu.china.com.cn/html/jsnews/around/10467189_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498203071707755.jpg" alt="花若仙子" /><span>花若仙子</span></a></li>
            <li class="poster-item"><a href="http://jiangsu.china.com.cn/html/jsnews/around/10467185_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498203184943954.jpg" alt="藏娇" /><span>藏娇</span></a></li>
            <li class="poster-item"><a href="http://jiangsu.china.com.cn/html/jsnews/around/10467207_1.html" target="_blank"><img src="http://jiangsu.china.com.cn/uploadfile/2017/0623/1498204046433246.jpg" alt="荷花仙子" /><span>荷花仙子</span></a></li>
        </ul>
        <div class="poster-btn poster-next-btn"></div>
    </div>
</div></div>
<script type="text/javascript">
    $(".hfly").PicCarousel("init");
</script>

<div class="footer"><div class="box">
    中共金湖县委宣传部 未经协议授权 禁止下载使用<br />制作单位：中国网•东海资讯
</div></div>
</body>
</html>